.index_body{
    background-color: rgb(172, 172, 69);
}

.index_body h1,
.gulab_body h1,
.pizza_body h1{
    text-align: center;
}

.Biryani_body,
.gulab_body,
.pizza_body{
    background-color: rgba(148, 136, 79, 0.991);
}
.Biryani_body h1{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.home{
 float: right;   
}